* {
  box-sizing: border-box;
}

.servicesTitle {
  text-align: center;
  margin: -5px;
  color: #39175d;
  padding: 15px;
}
.services__main {
  height: 600px;
}
.card__column {
  margin-top: 25px;
  float: left;
  width: 25%;
  padding: 25px;
  /* margin-left: 115px; */
}

.one {
  margin-left: 215px;
}

.card__row {
  margin: 0 -5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

.icon {
  height: 100;
  width: 100;
}

.services__button {
  margin-top: 25px;
  margin-left: 100px;
  padding: 15px;
  /* align-items: center; */

  width: 200px;
}

/* one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
