.header {
  padding: 10px 16px;
  background: rgb(255, 255, 255);
  color: #201f1f;
  text-align: center;

  position: sticky;
  z-index: 999;
  top: -10px;
  box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.5);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

.logo {
  height: 75px;
  display: inline-block;
  vertical-align: top;

  position: absolute;
  left: 0px;
  top: 0px;
}

.ghostBtn__header {
  display: inline-block;
  width: 150px;
  padding: 8px;
  color: rgb(62, 61, 61);
  border: 2px solid #b4b4b4;
  border-radius: 5px;
  text-align: center;
  outline: none;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
  margin: 4px 2px;
  margin-right: -900px;
}

.ghostBtn__header p {
  color: #39175d;
  padding: 20px;
  text-align: center;
  text-decoration: none;
}
